:root{
    font-family: "FuentePersonalizada" , monospace;
}


body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #fafafa;
    
}

/*Header*/

header{
    text-align: center;
    padding: 20px;
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.123);
    background:linear-gradient(rgb(175, 232, 255), rgb(7, 197, 255));
}

/*main*/

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    gap: 30px;
    padding: 30px;
}

button{
    cursor: pointer;
}

#contenedor-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
    flex-wrap: wrap;
}

#formulario-contenedor #formulario{
    border-radius: 10px;
    padding: 30px;
    border: solid;
    box-shadow: 0px 0px 50px 0px black ;
}

input[type="text"]{
    border-radius:30px ;
    padding-top: 10px ;
    padding: 10px;
}

button{
    width: 100px;
    background-color: white ;
    border: 1px solid black ;
}
button:hover{
    background-color: black ;
    color: white;
    border: 1px solid white ;
    box-shadow: 0px 0px 10px 0px black;
}

#targeta{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    padding-left:30px ;
    width: 250px;
    height: 300px;
    border:solid ;
    border-radius:10px ;
    box-shadow: 0px 0px 50px 0px black ;
}

.targeta-generada{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    padding-left:30px ;
    width: 250px;
    height: 300px;
    border: solid ;
    border-radius:10px ;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.534);
}

#targetas-generadas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

/*footer*/

footer{
    text-align: center;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.123);
    font-weight:bold ;
}

/*fuentes y animaciones*/

@font-face {
    font-family: "FuentePersonalizada";
    src: url(../font/AlbertSans-VariableFont_wght.ttf);
}

@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}